
<div class="index-master">
  <%= render "shared/navbar" %>
  <%= render "shared/banner" %>
  <div class="carousel-master">
  <%= render "shared/carousel" %>
  </div>

  <div id="map"
      style="width: 100%; height: 50vh; border: 1px solid lightgray; border-radius: 5px;"
      data-controller="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
  >
  </div>

</div>
