
<div class="index-master">
  <%= render "shared/navbar" %>
  <%= render "shared/banner" %>
  <div class="carousel-master">
  <%= render "shared/carousel" %>
  </div>

  <div class="index-container">
    <div class="row">
      <div class="col-6">
        <div class="index-cards">
        <% @tools.each do |t| %>
          <div class="d-flex flex-column m-3">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1505945715542-3a2a4bee49b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1792&q=80)">
            </div>
            <div class="card">
              <ul>
                  <li>
                    <%=link_to t.name, tool_path(t) %>
                  </li>
                  <li>
                  <%= link_to "Book",  new_tool_booking_path(t), class:"btn btn-outline-danger"%>
                  </li>
              </ul>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

      <div class="map col-6">
        <div id="map"
            style="width: 100%; height: 50vh; border: 1px solid lightgray; border-radius: 5px;"
            data-controller="map"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
            data-map-markers-value="<%= @markers.to_json %>"
        >
        </div>
      </div>

</div>
