<h1>List your Tool</h1>

<%= simple_form_for @tool do |f| %>
  <%= f.input :name, as: :text %>
  <%= f.input :tool_type, as: :text %>
  <%= f.input :price, as: :integer %>
  <%= f.input :description, as: :text %>
  <%= f.input :location, as: :text%>
  <%# upload pic %>
  <%= f.input :photo, as: :file %>

  <%= f.submit 'Submit', class: 'btn btn-secondary' %>
<% end %>

<%= link_to "My Tools", my_tools_path %>
