<%= render "shared/navbar" %>
<div class="show-master">
    <div class="container">
        <div class="card-trip">
            <%= cl_image_tag @tool.photo.key %>
            <div class="card-info">
                <h2><%= @tool.name %></h2>
            <div class="card-trip-pricing">
                <h3><%= @tool.price %>$</h3>
                <a class="book-button" href="/tools/26/bookings/new">Book this tool</a></div>
            </div>
        </div>
        <div class="descrip-with-map" <p="">Easy to operate - Full range 40-225 amp selector switch quickly sets the welding current and ensures a uniform arc each and every time you weld<p></p>
              <div class="map col-12">
                <div id="map"
                    style="width: 100%; height: 50vh; border: 1px solid lightgray; border-radius: 5px;"
                    data-controller="map"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                    data-map-markers-value="<%= @markers.to_json %>"
                >
                </div>
  </div>
        </div>
    </div>


    <div class="back-button">
        <p><a href="/tools">Back to tools</a></p>
    </div>
</div>
