<div class="container">
    <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos"></div>
        <div class="card-info">
            <h2><%= @tool.name %></h2>
        <div class="card-trip-pricing">
            <h3>¥99.99</h3>
            <%= link_to "Book this tool", new_tool_booking_path(@tool), class:"btn btn-danger"%></div>
        </div>
    </div>
    <div class="descrip"
        <p><%= @tool.description %></p>
    </div>
</div>


<div class="back-button">
    <p><%= link_to "Back to tools", tools_path %></p>

    <p><%= link_to "Deleted tool", tool_path(@tool), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>

    <p><%= link_to "Edit tool details", edit_tool_path(@tool) %></p>

    <%# 🗺 Mapbox %>
    <div id="map"
        style="width: 100%; height: 50vh; border: 1px solid lightgray; border-radius: 5px;"
        data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
    ></div>
</div>

