<h1>🧰 Request to add <%= @tool.name %> to your Toolbox</h1>

<%# Nested form!!! 🔴 %>
<%= simple_form_for [@tool, @booking] do |f| %>
  <%= f.input :starting_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>

<%# <%= link_to "Cancel", tools_path %>
